@page
@model PolicyPaymentWebApp.Pages.DetailsModel
@{
}

<div class="text-center">
    <p class="display-3">@ViewData["Title"]</p>

    <p>@Model.Policy.PolicyNumber</p>
    <p>@Model.Policy.PolicyName</p>
</div>