@page
@model PolicyPaymentWebApp.Pages.NewPolicyModel
@{
}


    

<form method="post">
<div class="w-25 ">
        <input asp-for="_Policy.PolicyName" class=" form-control m-2 " placeholder="Enter the Policy Name"/>

            <input asp-for="_Policy.PolicyType" class="form-control  m-2"placeholder="Enter the Policy TYpe"/>

                <input asp-for="_Policy.PolicyPeriod" class="form-control m-2" placeholder="Enter the Policy Period"/>
                    <input asp-for="_Policy.Amount" class="form-control m-2" placeholder="Enter the Premium Amount"/>
<input type="submit"  value="Add Policy"/>
</div>
</form>



