@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Message"]</h1>
   <table border="1">
       <tr>
           <th>Id</th>
           <td>FirstName</td>
           <td>Email</td>
       </tr>
       @foreach(var item in Model.Employees)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.FirstName</td>
                <td>@item.Email</td>
            </tr>
        }
    </table>
</div>
